.idea/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.sqlite3
*.pyc
*.*~
.env
.ini
codeship.env.deploy
codeship.env.test
codeship.aes
.*.env
*.log
*.log.*
staticfiles/*
!staticfiles/README.md
!staticfiles/crossdomain.xml
server/templates/dist/
server/apps/main/management/commands/org-data/
node_modules/
bower_componens/
.awspublish-iotile-cloud-statics
.serverless
.DS_Store

# Testing
.cache/
.pytest_cache/
.coverage
htmlcov/
coverage.out
test.out
dummy-data/
scripts/fixtures/*.bin
scripts/worker/report_generator/1_user_common_report.bin
scripts/worker/report_generator/3_user_reboot_report.bin
scripts/worker/report_generator/2_sys_common_report.bin
scripts/worker/report_generator/4_sys_reboot_report.bin
scripts/worker/report_generator/info.txt
