[DEFAULT]
DB_USERNAME=ebroot
DB_PASSWORD=big-secret
AWS_ACCOUNT=XXXXXXXXXXXXXX
[SECRETS]
iotilecloud.prod.SecretKey=secret
iotilecloud.prod.JwtSecretKey=secret
iotilecloud.prod.RdsPassword=secret
iotilecloud.prod.DropboxPrivateKey=secret
iotilecloud.prod.DropboxPublicKey=secret
iotilecloud.prod.S3ImagePrivateKey=secret
iotilecloud.prod.S3ImagePublicKey=secret
iotilecloud.prod.GoogleApiKey=secret
iotilecloud.prod.RecaptchaSiteKey=secret
iotilecloud.prod.RecaptchaSecretKey=secret
iotilecloud.prod.SentryDns=secret
iotilecloud.prod.TwilioAuthToken=secret
iotilecloud.prod.TwilioSID=secret