{% extends "staff/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <br/>
    <div class="row">
        <!-- Streams -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Support Operations (Factory)
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="list-group">

                        <a href="{% url 'staff:streamer-report-forwarder' %}" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-forward"></i> Streamer Report Forwarder</h4>
                            <p class="list-group-item-text">Forward Factory Streamer Reports to ArchFx</p>
                        </a>
                        <a href="{% url 'staff:factory-batch-device' %}" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-plus"></i> Create ArchFX Devices</h4>
                            <p class="list-group-item-text">Create a batch of devices and semi-claim to Org</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}