{% extends 'staff/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="page-title">
        <div class="title_left">
            <h3 class="hidden-xs">Check Cache Value</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">

                <div class="row">
                    <div class="col-sm-6 col-xs-12">

                        {% crispy form %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    {% if results %}

        <div class="row">

            <div class="col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Results for <b>{{ q }}</b>
                            {% if limit == count %}
                                <small>Restricted to {{ limit }}</small>
                            {% endif %}

                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">

                                <ul>
                                    {% for item in results %}
                                        <li><b>{{ item.key }}</b><br>{{ item.value }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
