{%  extends "staff/base.html" %}
{%  load static %}
{%  load i18n %}
{%  load tz %}
{% load crispy_forms_tags %}

{% block js %}
    <script>
        $(document).ready(function(){
            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-green',
                radioClass: 'iradio_minimal-green',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}

{%  block content %}

    {%  if title %}
        <div class="page-title">
            <h3>{{ title }}</h3>
        </div>
        <div class="clearfix"></div>
        <br>
    {%  endif %}

    <div class="row" style="margin-top: 40px">
        <div class="col-md-12">
            <h4>The following data will be moved: </h4>
            <div>
                <h5>Devices :</h5>
                    <ul>
                        {% for d in devices %}
                            <li>
                                <h6>{{ d.slug }}</h6>
                                <p> Streams to be moved: </p>
                                <ul>
                                    {% for s in d.streamids %}
                                        <li>{{ s.slug }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                <h5>Stream variables :</h5>
                    <ul>
                        {% for sv in variables %}
                            <li>{{ sv.slug }}</li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2">

            {% crispy form %}

        </div>
    </div>


{%  endblock %}
