{% extends "authentication/base.html" %}
{% load i18n %}
{% load account %}
{% load static %}

{% block content %}


    <div class="row" style="margin-top: 40px">
        <div class="col-sm-8 col-sm-offset-2">
            <h3 class="account_authTitle">{% trans "Change your Password" %}</h3>

                <form class="account_Form password_change" action="{% url 'account_change_password' %}" method="POST" id="signup_form" >
                    {% csrf_token %}

                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input class="form-control" id="id_oldpassword" name="oldpassword" placeholder="Current Password" required="required" title="" type="password" autocomplete="off"  />
                    </div>
                    <span class="help-block">{{ form.oldpassword.errors }}</span>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input class="form-control" id="id_password1" name="password1" placeholder="Password" required="required" title="" type="password" autocomplete="off" />
                    </div>
                    <span class="help-block">{{ form.password1.errors }}</span>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input class="form-control" id="id_password2" name="password2" placeholder="Password (again)" required="required" title="" type="password" autocomplete="off" />
                    </div>
                    <span class="help-block">{{ form.password2.errors }}</span>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <button class="btn btn-lg btn-success btn-block" type="submit">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
{% endblock %}