{% extends "account/auth-base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}
{% load static %}

{# Load CSS and JavaScript #}

{% load static %}

{% block main_class %}site-wrapper-login resetbackground{% endblock %}

{% block form_class %}reset-form{% endblock %}

{% block form_content %}


    <!--LOGIN -->

    <form action="{% url 'account_reset_password' %}" method="POST">

        <div>
            <img src="{% static 'dist/webapp/app/images/auth/archiotilecloudblue.png' %}"
                 class="logo-separator" alt="Arch Logo">
            <h6 class="login-title" id="signin"> RESET PASSWORD </h6>
            <p class="login-description ">
                Enter your email address to reset your password. We will send you a link to
                reset your password.
            </p>
        </div>
        <hr>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        {% crispy form %}

        <div align="center">
            <div class="form-group input-group">
                {{ form.captcha }}
            </div>
            {% if form.captcha.errors %}
            <div class="alert alert-danger">
                {{ form.captcha.errors }}
            </div>
            {% endif %}
        </div>


        <button type="submit" class="submit">
            {% trans 'Send request' %}
        </button>

        <p class="message"><br>Not registered? <a href="{% url 'account_signup' %}">Create an account</a></p>

    </form>


{% endblock %}


