{% extends "account/auth-base.html" %}
{% load i18n %}
{% load account %}
{% load static %}

{# Load CSS and JavaScript #}

{% load static %}

{% block main_class %}site-wrapper-login resetbackground{% endblock %}

{% block form_content %}


    <!--LOGIN -->

    <form action="{% url 'account_reset_password' %}" method="POST">

        <div>
            <img src="{% static 'dist/webapp/app/images/auth/archiotilecloudblue.png' %}"
                 class="logo-separator" alt="Arch Logo">
            <h6 class="login-title" id="signin"> PASSWORD RESET </h6>
            <p class="login-description ">
                We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
            </p>
        </div>

      <p class="message">Already registered? <a href="{% url 'account_login' %}">Sign In</a></p>

    </form>


{% endblock %}