{% load i18n %}
{% autoescape off %}

{% blocktrans %}
Hello from the Arch team!

You're receiving this e-mail because you or someone else has requested a password for your user
account at {{ site_domain }}.


If you did not request a password request, you can safely ignore this message.
Otherwise, please click the link below to reset your password:
{% endblocktrans %}

{{ domain }}{% url 'account_reset_password_from_key' uidb36=uidb36 key=key %}

{% blocktrans %}
Thank you for using {{ site_name }}!

- The Arch Team
{% endblocktrans %}

{% endautoescape %}