files:
  "/etc/httpd/conf.d/wsgi_pass_authorization.conf":
   mode: "000644"
   owner: ec2-user
   group: ec2-user
   content: |
       WSGIPassAuthorization On
       WSGIApplicationGroup %{GLOBAL}

  "/etc/httpd/conf.d/ssl_rewrite.conf":
   mode: "000644"
   owner: ec2-user
   group: ec2-user
   content: |
       TraceEnable off
       RewriteEngine On
       <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
       RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
       </If>
