packages:
  yum:
    postgresql96-devel: []

container_commands:
  01_migrate:
    command: "django-admin.py migrate --database=default --no-input"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate --database=streamdata --no-input"
    leader_only: true
  03_syncdb:
    command: "django-admin.py migrate --run-syncdb --no-input"
    leader_only: true
  04_init_data:
    command: "django-admin.py init-basic-data"
    leader_only: true
  05_ot_data:
    command: "django-admin.py set-ot-data"
    leader_only: true
  06_pt_data:
    command: "django-admin.py set-pt-data"
    leader_only: true
  07_vartype_data:
    command: "django-admin.py set-var-type-data"
    leader_only: true
  08_sg_data:
    command: "django-admin.py set-sg-data"
    leader_only: true
  09_product_data:
    command: "django-admin.py set-product-data"
    leader_only: true
  10_ses_stats:
    command: "django-admin.py get_ses_statistics"
    leader_only: true
  11_dynamodb_worker_logs:
    command: "django-admin.py create_worker_log_db_table"
    leader_only: true
  12_update_index:
    command: "django-admin.py search_index --rebuild -f --settings=config.settings.indexing"
    leader_only: true
  13_check_deploy:
    command: "django-admin.py check --deploy"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: config/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: config.settings.production
  - option_name: SECRET_KEY
    value: h;oOBqQ|vMWl*@^rXc-^mL9RDn6Xq/.>r<WFG3DAH4#^CM19!&=7</T21eOg+6}Oc2^t0D@<Rm[#BB4.<[jwLMpo=Fqf|
  - option_name: DJANGO_ENV_FILE
    value: .production.env
  - option_name: PRODUCTION
    value: True
  - option_name: DEBUG
    value: False
  - option_name: SERVER_TYPE
    value: prod
  - option_name: USE_WORKER
    value: True
  - option_name: SENTRY_ENABLED
    value: True
  - option_name: RDS_HOSTNAME
    value: xxxxxxxxxxxxxxxxxxxxx.us-east-1.rds.amazonaws.com
  - option_name: RDS_PORT
    value: 5432
  - option_name: RDS_DB_NAME
    value: iotiledb1
  - option_name: RDS_USERNAME
    value: ebroot
  - option_name: REDIS_HOSTNAME
    value: xxxxxxxxxxxxxxxxxxxxx.cache.amazonaws.com
  - option_name: REDIS_PORT
    value: 6379
  - option_name: CACHE_URL
    value: rediscache://xxxxxxxxxxxxxxxxxxxx.cache.amazonaws.com:6379:1?client_class=django_redis.client.DefaultClient
  - option_name: REDSHIFT_HOSTNAME
    value: xxxxxxxxxxxxxxxxxxxx.us-east-1.redshift.amazonaws.com
  - option_name: REDSHIFT_PORT
    value: 5439
  - option_name: REDSHIFT_DB_NAME
    value: iotiledb2
  - option_name: AWS_ELASTICSEARCH_HOST
    value: vpc-xxxxxxxxxxxxxxxxxx.us-east-1.es.amazonaws.com
  - option_name: DOMAIN_NAME
    value: iotile.cloud
  - option_name: DOMAIN_BASE_URL
    value: https://iotile.cloud
  - option_name: WEBAPP_BASE_URL
    value: https://app.iotile.cloud
  - option_name: TWILIO_FROM_NUMBER
    value: +14432724468

