option_settings:
  # Notification Options, Use existing SNS
  - namespace: aws:elasticbeanstalk:sns:topics
    option_name: Notification Topic ARN
    value: arn:aws:sns:us-east-1:xxxxxxxxxxxxxx:IotileCloudEBNotifications
  - namespace: aws:elasticbeanstalk:sns:topics
    option_name: Notification Topic Name
    value: ElasticBeanstalkNotifications
