{% extends "project/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="page-title">
        <div class="title_left">
            <h3>{% trans 'Data Stream Variables' %}</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <br/>

    <br/>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        {% trans 'Current' %}
                    </h2>
                    {% if project and is_admin %}
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="{% url 'org:project:var-create' org.slug project.id %}">
                                <i class="fa fa-line-chart"></i> {% trans 'New Variable' %}
                            </a>
                        </li>
                        <li>
                        </li>
                    </ul>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% for var in object_list %}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        {{ var.name }}
                                    </h2>
                                    {% if is_admin %}
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a href="{{ var.get_edit_url }}">
                                                <i class="fa fa-pencil"></i> {% trans 'Edit' %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ var.get_delete_url }}">
                                                <i class="fa fa-trash"></i> {% trans 'Delete' %}
                                            </a>
                                        </li>
                                    </ul>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    {% include 'stream/var-table-snippet.html' %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

