{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load stream_tags %}

{% block content %}

    <div class="page-title">
        <div class="title_left">
            <h3>{{ object.name }}</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <br/>

    <div class="row">
    {% with var as object %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        {{ var.name }}
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="{{ var.get_edit_url }}">
                                <i class="fa fa-pencil"></i> {% trans 'Edit' %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ var.get_delete_url }}">
                                <i class="fa fa-trash"></i> {% trans 'Delete' %}
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    {% include 'stream/var-table-snippet.html' %}

                </div>
            </div>
        </div>
    {% endwith %}
    </div>
    <br/>

{% endblock %}

