# Django project configuration, if environ vars are missing
#
#   This is a sample file. Rename to local.env for a quick development
#   settings. Git will not track local.env as it contains confidential
#   information. So store a backup of this file outside this repo.
#
# Note: No spaces around '=' sign and no quotes for righthand values.

# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
SECRET_KEY=9i^(r$%n4jxh)@n*%$w$def1m_&c&v2mc4wib4q^xn5mDocker

DOMAIN_NAME=127.0.0.1:9000
DOMAIN_BASE_URL=http://127.0.0.1:9000

AWS_ACCESS_KEY_ID=<secret>
AWS_SECRET_ACCESS_KEY=<secret>

# FineUploader (Stream Upload)
STREAM_INCOMING_PRIVATE_KEY=<secret>
STREAM_INCOMING_PUBLIC_KEY=<secret>

TWILIO_FROM_NUMBER=changeme
TWILIO_ACCOUNT_SID=changeme
TWILIO_AUTH_TOKEN=changeme
