# Django project configuration, if environ vars are missing
#
#   This is a sample file. Rename to local.env for a quick development
#   settings. Git will not track local.env as it contains confidential
#   information. So store a backup of this file outside this repo.
#
# Note: No spaces around '=' sign and no quotes for righthand values.

PRODUCTION=False
DEBUG=True
SERVER_TYPE=dev

# Use SQLite3 for development
DATABASE_DEFAULT_URL=postgres://postgres@127.0.0.1:5432/postgres
DATABASE_STREAMDATA_URL=postgres://postgres@127.0.0.1:5433/postgres
#DATABASE_DEFAULT_URL=sqlite:///db1.sqlite3
#DATABASE_STREAMDATA_URL=sqlite:///db2.sqlite3
#CACHE_URL=dummycache

# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
SECRET_KEY=nosecret

DOMAIN_NAME=127.0.0.1:8000
DOMAIN_BASE_URL=http://127.0.0.1:8000

# FineUploader (Stream Upload)
STREAM_INCOMING_PRIVATE_KEY=changeme
STREAM_INCOMING_PUBLIC_KEY=changeme

# Google Keys
GOOGLE_API_KEY=changeme
RECAPTCHA_SITE_KEY=changeme
RECAPTCHA_SECRET_KEY=changeme


TWILIO_FROM_NUMBER=changeme
TWILIO_ACCOUNT_SID=changeme
TWILIO_AUTH_TOKEN=changeme
