{% load i18n %}

{% blocktrans with site_name=site.name site_domain=site.domain %}
    <h4>Hello from <b>the Arch team!</b></h4>

    <p>
    You're receiving this e-mail because you or someone else has requested a password for your user
    account at {{ site_domain }}.
    </p>

    <p><b>
        If you did not request a password request, you can safely ignore this message.
        Otherwise, please click the link below to reset your password:
    </b></p>
{% endblocktrans %}

<p><a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

{% blocktrans with site_name=site.name site_domain=site.domain %}

    <p>Thank you for using {{ site_name }}!</p>

    <p>- The Arch Team</p>

{% endblocktrans %}

